/* © 2020 Lukas Bolte. All Rights Reserved */

a:link {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;		
}

body {
  color: #333;
}

.fab {
  padding: 20px;
}
.fab {color:black;}
.fab:visited {color:black;}
.fab:hover {color:black;}
.fab:active {color:black;}

.button {
    color: #333 !important;
    text-transform: uppercase;
    font-size: 10pt;
    padding: 6px;
    border: 2px solid #333 !important;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button:hover {
    color: #333 !important;
    border-radius: 50px;
    border-color: #333 !important;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.my-photo {
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section {
	padding: 50px;
}
.full-screen {
    min-height: 100vh;
}

.space {
	padding: 5px 0;
}

.home-text-center {
    position: relative;
    padding-left: 65px;
    z-index: 1;
}

.background-bg {
    background: #FFFFFF;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

.row-grid + .row-grid {
    margin-top: 0px;
}